<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ac.shizuoka.inf.cs.cs14012.ref_management">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TestBootstrap"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestBootstrap"
            android:label="@string/title_activity_test_bootstrap" />
        <activity android:name=".Add" />
        <activity android:name=".Search"/>
        <activity android:name=".FoodSearch"/>
    </application>

</manifest>
